// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu li {
  float: left;
  padding: 30px;
  list-style-type: none;
  font-size: 1.2em
}
